<!--Cogie Cruz
301133276
W2023-->

<!-- Section 2: About me -->
<div class="container">
    <section id="about-me">
      <div class="column-2">
        <h1>About me</h1>
        <p>
          I am currently in my 3rd semester of the Software Engineering Technician at 
          Centennial College. Hoping to become a full stack engineer in the future! I like
          playing basketball and video games!
        </p>
        <p>
            I have a fascination for technology and designing new and inventive innovation, 
            thus one of my ideal careers in the future is to be a software engineer or game developer.
        </p>
      </div>
    </section>
    <section id="my-face">
      <div class="column-2 large-profile"></div>
    </section>
  </div>
  <section class="resume">
    <button type="button" class="btn btn-warning">
      <a href="../content/CogieCruzResume.pdf" class="file" download="newfilename">Download my resume</a>
    </button>
  </section>