<!--Cogie Cruz
301133276
W2023-->

<!-- welcome message section -->
<section id="welcome-message" class="d-flex h-100 text-center text-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
      <main class="px-3">
        <h1>Welcome to my Personal Portfolio site</h1>
        <p class="lead">Welcome to my portfolio! Explore my skills, projects, and experiences. Thanks for visiting!</p>

      </main>
  </section>

  <!-- mission statement section -->
  <section id="mission-statement" class=" h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main class="px-3">
        <h1>Mission Statement</h1>
        <p class="lead">To continuously break boundaries through imaginative thinking, groundbreaking solutions, and a steadfast commitment to excellence.</p>
      </main>
    </div>
  </section>