<!--Cogie Cruz
301133276
W2023-->


<section id="projects">
    <div class="jumbotron projects-text">
      <h1 class="display-4">Personal Projects</h1>
      <p class="lead">
        These are some of my latest projects that I have been working on!
      </p>
    </div>
  </section>
  <section id="projects-slider">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../images/srsdoc.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>SRS Document Assignment</h5>
              <p>Me and groupmates are making a SRS document for our COMP225 class.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../images/asset.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Pixel Art Game</h5>
              <p>I am currently preparing assets with my brother for our game,
                here is one of the potential characters!
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../images/snake.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Snake Game</h5>
              <p>I made a simple snake game using Pygame module in the past.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </section>